*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

header{
    height: 85px;
    width: 100%;
    background-color: rgb(251,86,48);
}

header h1{
    color: rgb(255, 255, 255);
    font-size: 45px;
    display: inline;
}

header img{
    height: 60px;
    width: 60px;
    margin-top: 5px;
    display: inline;
}

.produto-imagem{
    margin-top: 50px;
    margin-left: 10%;
    height: 600px;
    width: 40%;
    float: left;
    position: absolute;
}

.produto-miniatura{
    height: 600px;
    width: 10%;
    float: left;
}

.produto-miniatura img{
    height: 90px;
    margin-top: 10px;
    display: block;
    opacity: 0.6;
    cursor: pointer;
}

.produto-miniatura img:hover{
    opacity: 1;
    border: 2px solid rgb(251,86,48);
}

.produto-principal{
    height: 600px;
    width: 75%;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 5%;
    float: right;
}

.produto-principal img{
    height: 490px;
    width: 100%;
}

.produto-detalhes{
    margin-top: 50px;
    margin-right: 10%;
    height: 600px;
    width: 40%;
    float: right;
}

.produto-detalhes p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.produto-detalhes .botao{
    height: 40px;
    cursor: pointer;
    background-color: rgba(255,255,255);
    color: rgba(0,0,0,.8);
    border: 1px solid rgba(0,0,0,.09);
    margin: 10px 8px 8px 10px;
    padding: 0.25rem 0.75rem;
    justify-content: center;
}

.produto-detalhes .botao:hover{
    color: rgb(251,86,48);
    border: 1px solid rgb(251,86,48);
}

.produto-detalhes #botaoComprar{
    height: 60px;
    cursor: pointer;
    background-color: rgb(251,86,48);
    color: rgb(255,255,255);
    border: 1px solid rgb(251,86,48);
    margin: 10px 8px 8px 10px;
    padding: 0.25rem 0.75rem;
    justify-content: center;
}

.produto-detalhes #botaoComprar:hover{
    opacity: 0.9;
}

.produto-detalhes #precoProduto{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.875rem;
    color: rgb(251,86,48);
}